{% extends 'base.html' %}

{% block navbar %}
<li class="dropdown"><a href="#" class="dropdown-toggle font-white" data-toggle="dropdown"
    role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret">
    </span></a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'et_manage' %}" class="font-white">Admin</a></li>
        <li><a href="{% url 'et_manage_view_users' %}" class="font-white">Users</a></li>
        <li><a href="{% url 'et_manage_view_steps' %}" class="font-white">Steps</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'et_manage_report' %}" class="font-white">Report</a></li>
    </ul>
</li>
{% endblock %}

{% block body %}
<a class="btn a-btn" href="{% url 'et_manage_new_step' %}">Add Step</a>
<table class="table">
    <tr>
        <th>Order</th>
        <th>Name</th>
    <tr>
    {% if steps %}
        {% for step in steps %}
            <tr>
                <td>{{ step.order }}</td>
                <td><a href="{% url 'et_manage_step' orderId=step.order %}">{{ step.name }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>                
{% endblock %}

