{% extends 'base.html' %}

{% block body %}
    {% if users %}
    <form action "/submit">
        <select name="username" required>
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.name }}</option>
        {% endfor %}
        </select>
        <br />
        <label for="techname">Technician Name: </label>
        <input type="text" name="techname" required />
        <br />
        <input type="submit" value="go">
    </form>
    {% else %}
    <p>Please add at least one user and try again</p>
    {% endif %}
{% endblock %}

