{% extends 'base.html' %}

{% block body %}
    {% if users %}
    <form method="post">
        {% csrf_token %}
        <label for="useralias">User</label>
        <select name="useralias" class="txt-form" required>
        {% for user in users %}
            <option value="{{ user.alias }}">{{ user.name }}</option>
        {% endfor %}
        </select>
        <br />
        <label for="techname">Technician Name</label>
        <input type="text" name="techname" class="txt-form" required />
        <br />
        <div class="btn-group-submit">
            <input type="submit" class="btn"value="Go">
        </div>
    </form>
    {% else %}
    <p>Please add at least one user and try again</p>
    {% endif %}
{% endblock %}

