body { padding: 50px 0px; background: #fff; font-family: Arial;}

.nav > li { position: relative; display: block; float: left; }
.footer-sticky { position: fixed; bottom: 0px; left: 0px; min-height: 40px; width: 100%; }
.navbar { min-height: 40px; }
.nav>li>a:hover, .nav>li>a:focus { background-color: #43783b; color: #eee; }
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { background-color: #4378b3; color: #eee; }
.navbar-brand { height: 40px; padding: 10px 15px; }
.navbar-header>a:hover, .navbar-header>a:focus { color: #fff; }
.navbar-green { background-color: #579a4c; border-color: #173517; }
.font-white { color: #fff; }
.bg-blue { background-color: #0077be }
.navbar-toggle .icon-bar { background-color: #fff; }
.dropdown-menu>.separator { padding-left: 10px; font-weight: bold; }
.btn-group-submit { margin-top: 10px; padding: 5px ; background: #eee; border-radius: 4px; display: block; box-shadow: 0px 0px 5px #999; height: 45px }
.btn, .a-btn { background-color: #579a4c; float: right; color: #fff; font-weight: bold; margin: 0 5px; box-shadow: 1px 1px 0px rgba(11,78,0,0.4); }
.a-btn { margin-bottom: 15px; }
.btn:hover, .a-btn:hover { color: #0077BE; }
form { margin-top: 10px; }
.txt-form { border-top: none; border-right: none; border-left: none; border-bottom: 2px black solid; }
form > label { width: 120px; margin-bottom: 8px; }
.table { margin-top: 10px; }
.flt-right { float: right; }
.btn-delete { float: left; background-color: rgb(192,0,0); box-shadow: 0px 0px 5px rgba(110,0,0,0.4); }
